.container {
  margin-top: 20px;
}

.version {
  font-size: small;
  font-style: italic;
}

:root {
  --video-size: 480px;
}

/* Video dimensions for larger screens */
.video-dimesions {
  width: var(--video-size);
  height: var(--video-size);
}

/* Video dimensions for small screens */
@media (max-width: 768px) {
  .video-dimesions {
    width: 90vw;
    height: 90vw;
  }
}

#video {
  position: absolute;
  border: 1px solid black;
}

#video-guides {
  position: relative;
}

.video-guide {
  stroke: black;
  stroke-width: 5;
  fill: none;
}

#captured-image {
  border: 1px solid black;
}
