.container {
  margin-top: 20px;
}

.version {
  font-size: small;
  font-style: italic;
}

:root {
  --video-size: 480px;
}

/* Video dimensions for larger screens */
.video-dimensions {
  width: var(--video-size);
  height: var(--video-size);
}

/* Video dimensions for small screens */
@media (max-width: 768px) {
  .video-dimensions {
    width: 90vw;
    height: 90vw;
    display: inline-block;
  }
}

#video {
  position: absolute;
  border: 1px solid black;
}

#video-guides {
  position: relative;
}

.video-guide {
  stroke: black;
  stroke-width: 5;
  fill: none;
}

#captured-image {
  border: 1px solid black;
}

.grid-image {
  margin: 2px;
}

.digit-image {
  margin: 2px;
}

.sudoku-grid {
  width: 224px;
  height: 224px;  
}

.grid-line {
  stroke: #888;
}

.initial-value {
  fill: magenta;
  font-size: 16px;
}

.calculated-value {
  fill: black;
  font-size: 16px;
}
